/*
Container
*/ 

h1.judul{
    font-family: Arial;
    color: #ffffff;
    font-size: 45px;
    margin-left: 50px;
    text-align: left;
    margin-bottom: -40px; 
}
div.metro_gallery {
    font-family: Arial;
    font-size: 12px;
    margin: 30px;
    background: url(../img/loading.gif) no-repeat 50% 40%;
    min-height: 100px;
    -webkit-perspective: 5000px;
       -moz-perspective: 5000px;
         -o-perspective: 5000px;
        -ms-perspective: 5000px;
            perspective: 5000px;
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}
.loaded div.metro_gallery {
    background: none;
}

/* Prevent images to be displayed in wrong size when JS it not run*/
div.metro_gallery  > div.tile > img {
    display: none;
}

/*
Tile
*/
div.tile {
    float: left;
    z-index: 1;
    position: relative;
}
div.tile.loaded {
}
div.tile:hover {
    z-index: 10;
    -webkit-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
       -moz-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
        -ms-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
         -o-transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
            transition: width 0.1s linear, height 0.1s linear, margin 0.1s linear;
}
div.tile.animating {
    -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
       -moz-transition: opacity 0.2s linear, -moz-transform    0.2s linear;
        -ms-transition: opacity 0.2s linear, -ms-transform     0.2s linear;
         -o-transition: opacity 0.2s linear, -o-transform      0.2s linear;
            transition: opacity 0.2s linear, transform         0.2s linear;
}
div.metro_gallery.fade div.tile {
    filter: alpha(opacity=0);
    opacity: 0;
}
div.metro_gallery.fade div.tile.loaded {
    filter: alpha(opacity=200);
    opacity: 1;
}
div.metro_gallery.flip div.tile {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
         -o-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
div.metro_gallery.flip div.tile.loaded {
    filter: alpha(opacity=200);
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
        -ms-transform: none;
            transform: none;
}
div.metro_gallery.scale div.tile {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}
div.metro_gallery.scale div.tile.loaded {
    filter: alpha(opacity=200);
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
         -o-transform: none;
        -ms-transform: none;
            transform: none;
}
div.metro_gallery.bw div.tile {
            filter: url(filter.svg#greyscale);
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}
div.metro_gallery.bw div.tile:hover {
    -webkit-filter: none;
       -moz-filter: none;
        -ms-filter: none;
         -o-filter: none;
            filter: none;
}

/*
Tile Content
*/
div.tile div.img_container {
    overflow: hidden;
    z-index: 5;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}
div.tile div.scroller {
    position: absolute;
    top: 0%;
    left: 0px;
}
div.tile div.scroller > div {
    overflow: auto;
    font-size: 12px;
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.2);
}
div.tile div.scroller > div > p {
    margin: 10px;
    padding: 0px;
}
.vertical div.tile div.scroller {
    right: 0px;
    -webkit-transition: top 0.2s linear;
       -moz-transition: top 0.2s linear;
        -ms-transition: top 0.2s linear;
         -o-transition: top 0.2s linear;
            transition: top 0.2s linear;
}
.vertical div.tile div.scroller > img,
.vertical div.tile div.scroller > div {
    display: block;
    width: 100%;
    overflow: hidden;
}
.horizontal div.tile div.scroller {
    bottom: 0px;
    -webkit-transition: left 0.2s linear;
       -moz-transition: left 0.2s linear;
        -ms-transition: left 0.2s linear;
         -o-transition: left 0.2s linear;
            transition: left 0.2s linear;
}
.horizontal div.tile div.scroller > img,
.horizontal div.tile div.scroller > div {
    float: left;
    height: 100%;
}
div.tile div.caption {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 5px;
    color: transparent;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: bottom 0.2s linear;
       -moz-transition: bottom 0.2s linear;
        -ms-transition: bottom 0.2s linear;
         -o-transition: bottom 0.2s linear;
            transition: bottom 0.2s linear;
}
div.tile div.caption a {
    color: transparent;
}
div.tile.caption:hover div.caption {
    bottom: -25px;
    color: #FFFFFF;
}
div.tile.caption:hover div.caption a {
    color: #FFFFFF;
}

/*
Nav
*/
div.tile > a.prev,
div.tile > a.next,
div.metro_lightbox a.prev,
div.metro_lightbox a.next {
    z-index: 6;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    outline: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
div.tile > a.prev {
    display: none;
}
div.tile > a.prev,
div.metro_lightbox > a.prev {
    left: -24px;
    background: url('../img/back.png');
}
div.tile > a.next,
div.metro_lightbox > a.next {
    right: -24px;
    background: url('../img/next.png');
}
div.tile:hover > a,
div.metro_lightbox:hover > a {
    opacity: 1;
    filter: alpha(opacity=100);
}
div.tile:hover > a.prev,
div.metro_lightbox:hover > a.prev {
    left: 10px;
}
div.tile:hover > a.next,
div.metro_lightbox:hover > a.next {
    right: 10px;
}

/*
Colour
*/
div.tile.blue,
div.tile.blue div.caption {
    background: #0097AA;
}
div.tile.orange,
div.tile.orange div.caption {
    background: #F29500;
}
div.tile.red,
div.tile.red div.caption {
    background: #C23916;
}
div.tile.green,
div.tile.green div.caption {
    background: #94C849;
}
div.tile.darkgreen,
div.tile.darkgreen div.caption {
    background: #6FA014;
}
div.tile.purple,
div.tile.purple div.caption {
    background: #91009B;
}
div.tile.darkred,
div.tile.darkred div.caption {
    background: #BE213E;
}
div.tile.darkblue,
div.tile.darkblue div.caption {
    background: #3C7780;
}
div.tile.yellow,
div.tile.yellow div.caption {
    background: #D9B700;
}
div.tile.grey,
div.tile.grey div.caption {
    background: #d6d5d5;
}
div.tile.white,
div.tile.white div.caption {
    background: #FFFFFF;
}
div.tile.white {
    -webkit-box-shadow: 1px 1px 4px #BBBBBB;
       -moz-box-shadow: 1px 1px 4px #BBBBBB;
        -ms-box-shadow: 1px 1px 4px #BBBBBB;
         -o-box-shadow: 1px 1px 4px #BBBBBB;
            box-shadow: 1px 1px 4px #BBBBBB;
}
div.tile.caption.white div.caption,
div.tile.caption.white div.caption a {
    color: #666666;
}

/*
Lightbox
*/
div.metro_overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0;
    z-index: 20;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s linear;
       -moz-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
         -o-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}
div.metro_overlay.open {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
div.metro_lightbox {
    overflow: hidden;
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: 30;
    background: url('../images/loader.gif') no-repeat 50% 50% #FFFFFF;
    border: 5px solid #000000;
    -webkit-transition: all 0.7s cubic-bezier(0, 1, 1, 1.2);
       -moz-transition: all 0.7s cubic-bezier(0, 1, 1, 1.2);
        -ms-transition: all 0.7s cubic-bezier(0, 1, 1, 1.2);
         -o-transition: all 0.7s cubic-bezier(0, 1, 1, 1.2);
            transition: all 0.7s cubic-bezier(0, 1, 1, 1.2);
    -webkit-box-shadow: 2px 2px 6px #222222;
       -moz-box-shadow: 2px 2px 6px #222222;
        -ms-box-shadow: 2px 2px 6px #222222;
         -o-box-shadow: 2px 2px 6px #222222;
            box-shadow: 2px 2px 6px #222222;
}
div.metro_lightbox.open {
    top: 50%;
}
div.metro_lightbox.close {
    top: 40%;
    opacity: 0;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;
}
div.metro_lightbox div.caption {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -40px;
    background: url('../images/caption_bg.png');
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
    font-family: Arial;
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
div.metro_lightbox div.caption a {
    color: #FFFFFF;
}
div.metro_lightbox:hover div.caption {
    bottom: 0px;
}
div.metro_lightbox iframe,
div.metro_lightbox img {
    border: none;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear 0.7s;
       -moz-transition: opacity 0.2s linear 0.7s;
        -ms-transition: opacity 0.2s linear 0.7s;
         -o-transition: opacity 0.2s linear 0.7s;
            transition: opacity 0.2s linear 0.7s;
}
div.metro_lightbox.open iframe,
div.metro_lightbox.open img {
    opacity: 1;
}
div.metro_lightbox.change iframe,
div.metro_lightbox.change img {
    opacity: 0;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}